<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Northcoders News </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <style>
      h1, h2 {font-family: 'Montserrat', sans-serif; text-align: center; padding-top: 200px}
      h1 {font-size: 4em}
      h2 {font-size: 2em}
      .N {color: red}
      a:link, a:visited {text-decoration: underline; color: red}
    </style>
</head>

<body>
  <h1>Welcome to <strong class="N">N</strong>ORTHCODER <strong class="N">N</strong>EWS!</h1>
  <h2>To enter the API <a href="/api">click here</a></h2>
</body>

</html>